{% extends "main.html" %}

{% block login %}{% endblock %}

{% block content %}
  <form method="POST" action="">
{% csrf_token %}
      <div class="column">
            {% for field in form %}
            <div class="block">{{ field.label_tag }}:</div> <div>{{ field }}</div>
              {% if field.errors %}
              <font color="red">{{ field.errors }}</font>
              {% endif %}
              {% if forloop.counter == 4 %}
          </div><div class="column">
              {% endif %}
              {% endfor %}
      </div>
    <div class="footer">
        <input type="submit" name="submit" value="Save" id="submit">
        <a href="{% url index %}">Cancel</a>
    </div>
</form>
</div>

{% endblock %}
{% block footer %}{% endblock %}
