{% extends "main.html" %}

{% block extra_head %}
  <script type="text/javascript">
    var MEDIA_URL = '{{ MEDIA_URL }}';
  </script>
{{ form.media }}
{% endblock extra_head %}

{% block in_body %}
<script type="text/javascript">
$(document).ready(function(){
    var options = {
        dataType: 'json',
        beforeSubmit: function(){
            $.blockUI({ fadeIn: 200, message: "Please wait, loading data"});
        },
        success: function(response){
            $.unblockUI();
            if (response.status=="ok")
            {
		$('#form').html(response.text);
		$('#form_save').show(response.message);
		$('#form_save').html(response.message);
		$('#form_save').hide(1600);
            }
            else
	    {
		$('#form').html(response.text);

	    }
            $("#id_date_of_birth").datepicker({dateFormat: 'yy-mm-dd'});
        }
    };
    $.datepicker.setDefaults(
        $.extend($.datepicker.regional["ru"])
    );
    $("#id_date_of_birth").datepicker({
        dateFormat: 'yy-mm-dd'
    });
    $('#myForm').ajaxForm(options);
});
</script>
{% endblock in_body %}

{% block login %}{% endblock %}

{% block content %}
  <form id="myForm" method="POST" action="/edit/">
{% csrf_token %}
<div id="form">
{% include "edit_personinfo_form.html" %}
</div>
    <div class="footer">
        <input type="submit" name="submit" value="Save" id="submit">
        <a href="{% url index %}">Cancel</a>
        <div id="form_save"><div>
    </div>
  </form>
</div>

{% endblock %}
{% block footer %}{% endblock %}
