{% extends "main.html" %}

{% block extra_head %}
  <script type="text/javascript">
    var MEDIA_URL = '{{ MEDIA_URL }}';
  </script>
{{ form.media }}
{% endblock extra_head %}

{% block login %}{% endblock %}

{% block content %}
  <form id="myForm" method="POST" action="/edit/">
{% csrf_token %}
<div id="form">
{% include "edit_personinfo_form.html" %}
</div>
    <div class="footer">
        <input type="submit" name="submit" value="Save" id="submit">
        <a href="{% url index %}">Cancel</a>
        <div id="form_save"><div>
    </div>
  </form>
</div>

{% endblock %}
{% block footer %}{% endblock %}
