<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"
    "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
<style type="text/css">
body {background-color:rgb(200,200,200);}
.content {width:900px; background-color:white; margin:0px auto;}
.header {height: 80px}
.sitename {float: left; width:580px; margin: 0 10px}
.login {float: right; width:300px; margin-top: 36px; padding: 0}
.column {float:left; width: 430px; padding:0 10px;}
.footer {clear: both}
.block {float: left; width:8em;}
</style>

{% block extra_head %}{% endblock extra_head %}


</head>
<body>
{% block in_body %}
{% endblock in_body %}
<div class="content">
{% block header %}
  <div class="header">
      <div class="sitename"><h1>42 Coffee Cups Test Assignment</h1></div>
      {% block login %}
      <div class="login">
        {% load user_tags %}
        {% if user.is_authenticated %}
          <div>{{ user.username }} you can <a href="{% url auth_logout %}">logout</a></div>
          <div>else you can <a href="{% edit_link user %}">edit</a> profile</div>
        {% else %}
          <a href="{% url auth_login %}">Login</a>
        {% endif %}
      </div>
      {% endblock login %}
  </div>
{% endblock header %}
{% block content %}
      <div class="column">
        <p>First name: {{ person.first_name }}</p>
        <p>Last name: {{ person.last_name }}</p>
        <p>Date of birth: {{ person.date_of_birth }}</p>
        <p>Bio: {{ person.about }}</p>
      </div>
      <div class="column">
        <p>Contacts</p>
        <p>Email: {{ person.mail_address }}</p>
        <p>Jabber: {{ person.jabber }}</p>
        <p>Skype: {{ person.skype }}</p>
        <p>Other contacts: {{ person.other_contacts }}</p>
      </div>
{% endblock %}
{% block footer %}
  <div class="footer">
    <hr />
    <a href="{% url request-list %}">requests</a>
    <p>SITE ADMINS: {{ settings.ADMINS }}</p>
    <p>TIME_ZONE settings: {{ settings.TIME_ZONE }}</p>
    <p>TEMPLATE_DIRS settings: {{ settings.TEMPLATE_DIRS }}</p>
    <p>DATABASES ENGINE: {{ settings.DATABASES.default.ENGINE }}</p>
  </div>
{% endblock %}
</div>
</body>
</html>
