<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"
    "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
<style type="text/css">
body {background-color:rgb(200,200,200);}
.content {width:900px; height:200%; background-color:white; margin:0px auto;}
.leftcolumn, .rightcolumn {float:left; width:430px; height:300px; padding:0 10px; backgroundcolor:red}

</style>
</head>
<body>
{% block content %}
  <div class=content>
    <h1>42 Coffee Cups Test Assignment</h1>
        <div>
          <ul>
            {% if user.is_authenticated %}
              {% comment %}<li><a href="{% url  %}">{{ user.username }}</a></li>{% endcomment %}{{ user.username }}
            {% else %}
              <li><a href="{% url auth_login %}">Login</a></li>
            {% endif %}
          </ul>
        </div>
      <div class=leftcolumn>
        <p>First name: {{ person.first_name }}</p>
        <p>Last name: {{ person.last_name }}</p>
        <p>Date of birth: {{ person.date_of_birth }}</p>
        <p>Bio: {{ person.about }}</p>
      </div>
      <div class=rightcolumn>
        <p>Contacts</p>
        <p>Email: {{ person.mail_address }}</p>
        <p>Jabber: {{ person.jabber }}</p>
        <p>Skype: {{ person.skype }}</p>
        <p>Other contacts: {{ person.other_contacts }}</p>
      </div><hr/>
    <a href="{% url request-list %}">requests</a>  
    <p>SITE ADMINS: {{ settings.ADMINS }}</p>
    <p>TIME_ZONE settings: {{ settings.TIME_ZONE }}</p>
    <p>TEMPLATE_DIRS settings: {{ settings.TEMPLATE_DIRS }}</p>
    <p>DATABASES ENGINE: {{ settings.DATABASES.default.ENGINE }}</p>
  </div>
{% endblock %}
</body>
</html>

