{% extends "main.html" %}

{% block login %}{% endblock %}

{% block content %}
    {% for request in requestlist %}
    <table frame="hsides">
      <tr>
        <td> REQUEST # {{ request.id }}</td>
        <td colspan="4">REQUEST TIME: {{ request.time }}</td>
      </tr>
      <tr>
        <td>HTTP_USER_AGENT</td>
        <td colspan="3">{{ request.http_user_agent }}</td>
      </tr>
      <tr>
        <td>PATHINFO</td>
        <td>REQUEST_METHOD</td>
        <td>LANG</td>
        <td>TZ(time zone)</td>
      </tr>
      <tr>
        <td>{{ request.path_info }}</td>
        <td>{{ request.request_method }}</td>
        <td>{{ request.lang }}</td>
        <td>{{ request.tz }}</td>
      </tr>
      </tr>
    </table>
    {% endfor %}
{% endblock %}
{% block footer %}{% endblock %}
